/*---------------------------------------------------------------------
    File Name: slick.css
---------------------------------------------------------------------*/

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* CSS for Rating */
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    color: #ddd; /* Color for empty stars */
    font-size: 8px;
    margin-left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
    color: #ffc107; /* Color for filled stars */
    font-size: 8px;
}

.star-rating {
    align-items: center;
    font-size: 1.5em;
    display: flex;
    margin-left: -5px;
    position: relative; /* Ensure positioning context for .front-stars */
}

.back-stars {
    color: #CCC; /* Color for empty stars */
    display: flex; /* Ensure stars are laid out in a row */
    position: relative; /* Position relative to contain .front-stars */
}

.front-stars {
    color: #FFBC0B; /* Color for filled stars */
    display: flex; /* Ensure stars are laid out in a row */
    overflow: hidden; /* Hide overflow of stars based on width */
    position: absolute; /* Absolute positioning to overlay .back-stars */
    top: 0; /* Align to the top of .back-stars */
    left: 0; /* Align to the left of .back-stars */
    transition: width 0.5s; /* Smooth transition for rating changes */
}

.percent {
    color: #bb5252;
    font-size: 1.5em;
}
